apiVersion: apps/v1
kind: Deployment
metadata:
  name: main-dep
  namespace: pingpong-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: main
  template:
    metadata:
      labels:
        app: main
    spec:
      containers:
        - name: main
          image: yumol/main:v3.2
          imagePullPolicy: Always
          env:
            - name: MESSAGE
              valueFrom:
                configMapKeyRef:
                  name: main-env
                  key: message
        