apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{{ deployment_name }}}
  namespace: {{{ namespace }}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{{ dummysite_name }}}
  template:
    metadata:
      labels:
        app: {{{ dummysite_name }}}
    spec:
      containers:
        - name: {{{ container_name }}}
          image: {{{ image }}}
          args: ["{{{ website_url }}}"]
          imagePullPolicy: Always
          