apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{{ ingress_name }}}
  namespace: {{{ namespace }}}
spec:
  rules:
  - http:
      paths:
      - path: /
        backend:
          serviceName: {{{ service_name }}}
          servicePort: 2345