apiVersion: v1
kind: Service
metadata:
  name: {{{ service_name }}}
  namespace: {{{ namespace }}}
spec:
  type: ClusterIP
  selector:
    app: {{{ dummysite_name }}}
  ports:
    - port: 2345
      protocol: TCP
      targetPort: 3000
