name: Release app

on:
  push:
    branches:
      - master
    paths:
      - 'part4/exercise4.07/backend/**'
      - 'part4/exercise4.07/frontend/**'
      - 'part4/exercise4.07/broadcaster/**'
      - '.github/workflows/exercise4-07.yaml'
      
env:
  FRONTEND_REPO: yumol/frontend
  BACKEND_REPO: yumol/backend
  BROADCASTER_REPO: yumol/broadcaster
  ACTIONS_ALLOW_UNSECURE_COMMANDS: "true"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # Build and push
    - name: Publish Fronend Image to Registry
      uses: docker/build-push-action@v1
      with:
        repository: yumol/frontend
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        tags: ${{ github.sha }}
        path: part4/exercise4.07/frontend

    - name: Publish Backend Image to Registry
      uses: docker/build-push-action@v1
      with:
        repository: yumol/backend
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        tags: ${{ github.sha }}
        path: part4/exercise4.07/backend

    - name: Publish Broadcaster Image to Registry
      uses: docker/build-push-action@v1
      with:
        repository: yumol/broadcaster
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        tags: ${{ github.sha }}
        path: part4/exercise4.07/broadcaster

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/checkout@v2

    - name: Set up Kustomize
      working-directory: manifests
      run: |-
        curl -sfLo kustomize https://github.com/kubernetes-sigs/kustomize/releases/download/v3.1.0/kustomize_3.1.0_linux_amd64
        

    # Update yamls
    - name: Update yamls
      working-directory: part4/exercise4.07/manifests
      run: |-
        ./kustomize edit set image FRONTEND/IMAGE=$FRONTEND_REPO:${{ github.sha }} BACKEND/IMAGE=$BACKEND_REPO:${{ github.sha }} BROADCASTER/IMAGE=$BROADCASTER_REPO:${{ github.sha }}

    # Commit and push
    - uses: EndBug/add-and-commit@v5
      with:
        add: 'part4/exercise4.07/manifests/kustomization.yaml'
        message: New version release for gitops-application ${{ github.sha }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}